.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@font-face {
    font-family: reg-roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;

}

.forecast-day {
    border: pink 2px solid;
    width: 200px;
    padding: 15px;

}

.forecast__title {
    font-family: reg-roboto, arial, sans-serif;
    font-size: 48px;
    color: #202124;
}

.forecast {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    margin: 20px;
}

.forecast__left {
    color: #70757a;
    font-family: reg-roboto, arial,sans-serif;
    font-size: 12px;
    display: flex;
    gap: 15px;
}
