body {
    background: #E5EAF5;
    width: 100%;
    display: flex;
    justify-content: center;
}

#root {
    max-width: 1280px;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@font-face {
    font-family: clock;
    src: url("../fonts/digital.ttf");
}

@font-face {
    font-family: exo;
    src: url("../fonts/exo.ttf");
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    justify-content: center;
    padding: 10px 15px;
}


.forecast__temperature {
    font-size: 48px;
    color: #202124;
}

.forecast-day__date {
    font-family: exo;
    margin-bottom: 10px;
    font-weight: bold;
    color: #6643b5;
    font-size: 28px;
}

.secondDay__date {
    font-family: exo;
    margin-bottom: 10px;
    font-weight: bold;
    color: #6643b5;
    font-size: 28px;
}

.thirdDay__date {
    font-family: exo;
    margin-bottom: 10px;
    font-weight: bold;
    color: #6643b5;
    font-size: 28px;
}

.forecast-day__hours {
    background-image: url("./img/alarmclock.png");
    height: 90px;
    background-repeat: no-repeat;
    width: 150px;
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
    font-family: clock;
}


.forecast-day__output {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    font-family: 'exo';
}






.forecast {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    margin: 20px;
    color: #6643b5;

}

.forecast__left {
    font-size: 12px;
    display: flex;
    gap: 15px;
    color: #323643;
    font-family: 'exo';
}

.forecast-day__hourtemp {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    flex-wrap: wrap;
    justify-content: center;
}

.forecast-day__title {
    font-size: 28px;
    font-weight: bold;
}



.secondDay__time {
    background-image: url("./img/alarmclock.png");
    height: 90px;
    background-repeat: no-repeat;
    width: 150px;
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
    font-family: clock;
}

.thirdDay__hours {
    background-image: url("./img/alarmclock.png");
    height: 90px;
    background-repeat: no-repeat;
    width: 150px;
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
    font-family: clock;
}

.secondDay {
    overflow-x: scroll;
}

.thirdDay__container {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    flex-wrap: wrap;
    justify-content: center;
}

.secondDay__container {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    flex-wrap: wrap;
    justify-content: center;
}

.thirdDay__output {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    font-family: 'exo';
}

.thirdDay__condition {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.forecast-day__precip {
    width: 20px;
    height: 20px;
}

.forecast-day__container {
    display: grid;
    width: 300px;
    align-items: center;
    border-radius: 20px;
    height: 250px;
    justify-items: center;
    border: 1px solid #0881a3;
    background: #9dc6ff;
}

.forecast-day__condition {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
}

.forecast-day__precipitation {
    display: flex;
    gap: 10px;
}

.secondDay__content {
    display: grid;
    width: 300px;
    align-items: center;
    border-radius: 20px;
    height: 250px;
    justify-items: center;
    border: 1px solid #0881a3;
    background: #9dc6ff;
}

.secondDay__condition {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
}

.secondDay__output {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    font-family: 'exo';
}


.secondDay__condition {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.secondDay__precipitation {
    display: flex;
    gap: 10px;
}



.thirdDay__content {
    display: grid;
    width: 300px;
    align-items: center;
    border-radius: 20px;
    height: 250px;
    justify-items: center;
    border: 1px solid #0881a3;
    background: #9dc6ff;
}



.thirdDay__condition {
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thirdDay__precipitation {
    display: flex;
    gap: 10px;
}

.forecast-day {
    margin-bottom: 40px;
}

.secondDay {
    margin-bottom: 40px;
}

.thirdDay {
    margin-bottom: 40px;
    overflow-x: scroll;
}


.forecast-day__temperature {
    font-weight: bold;
    font-size: 20px;
}

.secondDay_temperature {
    font-weight: bold;
    font-size: 20px;
}

.thirdDay__temperature {
    font-weight: bold;
    font-size: 20px;
}

.forecast__title {
    font-size: 50px;
    font-weight: bold;
    font-family: 'clock';
}


.forecast__city {
    color: #430f58;
}

.forecast__weekday {
    color: #430f58;
}

.forecast__time {
    color: #430f58;
}

@media (max-width: 600px) {
    .forecast {
        display: grid;
    }

    .forecast-day__date {
        display: flex;
        justify-content: center;
    }


    .secondDay__date {
        display: flex;
        justify-content: center;
    }

    .thirdDay__date {
        display: flex;
        justify-content: center;
    }


}


@media (max-width: 480px) {

    .forecast-day__date {
        font-size: 20px;
    }


    .secondDay__date {
        font-size: 20px;
    }

    .thirdDay__date {
        font-size: 20px;
    }

    .forecast {
        justify-content: center;
    }

    .forecast__title {
        font-size: 40px;
        text-align: center;
    }

    .forecast__city {
        text-align: center;
    }

    .forecast__weekday {
        text-align: center;
    }

    .forecast__time {
        text-align: center;
    }

}