.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@font-face {
    font-family: reg-roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: clock;
    src: url("../fonts/digital.ttf");
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    justify-content: center;
    padding: 10px 15px;
}


.forecast__temperature {
    font-family: reg-roboto, arial, sans-serif;
    font-size: 48px;
    color: #202124;
}

.forecast-day__date {
    font-family: reg-roboto, arial, sans-serif;
    color: #202124;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
}

.secondDay__date {
    font-family: reg-roboto, arial, sans-serif;
    color: #202124;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
}

.thirdDay__date {
    font-family: reg-roboto, arial, sans-serif;
    color: #202124;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
}

.forecast-day__hours {
    background-image: url("./img/alarmclock.png");
    width: 100%;
    height: 90px;
    background-repeat: no-repeat;
    width: 150px;
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
    font-family: clock;
}


.forecast-day__output {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}






.forecast {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    margin: 20px;
}

.forecast__left {
    color: #70757a;
    font-family: reg-roboto, arial, sans-serif;
    font-size: 12px;
    display: flex;
    gap: 15px;
}

.forecast-day__hourtemp {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    flex-wrap: wrap;
    justify-content: center;
}

.forecast-day__title {
    font-size: 28px;
    font-weight: bold;
}

.forecast-day__date {
    font-style: italic;
}

.secondDay__date {
    font-style: italic;
}


.secondDay__time {
    background-image: url("./img/alarmclock.png");
    width: 100%;
    height: 90px;
    background-repeat: no-repeat;
    width: 150px;
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
    font-family: clock;
}

.thirdDay__hours {
    background-image: url("./img/alarmclock.png");
    width: 100%;
    height: 90px;
    background-repeat: no-repeat;
    width: 150px;
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
    font-family: clock;
}

.thirdDay__date {
    font-style: italic;
}

.secondDay {
    overflow-x: scroll;
}

.thirdDay__container {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    flex-wrap: wrap;
    justify-content: center;
}

.secondDay__container {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    flex-wrap: wrap;
    justify-content: center;
}

.thirdDay__output {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.thirdDay__condition {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.forecast-day__precip {
    width: 20px;
    height: 20px;
}

.forecast-day__container {
    display: grid;
    width: 300px;
    font-family: reg-roboto, arial, sans-serif;
    background: #dee0e3;
    align-items: center;
    border-radius: 20px;
    height: 300px;
    justify-items: center;
}

.forecast-day__condition {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
}

.forecast-day__precipitation {
    display: flex;
    gap: 10px;
}

.secondDay__content {
    display: grid;
    width: 300px;
    font-family: reg-roboto, arial, sans-serif;
    background: #dee0e3;
    align-items: center;
    border-radius: 20px;
    height: 300px;
    justify-items: center;
}

.secondDay__condition {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
}

.secondDay__output {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}


.secondDay__condition {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.secondDay__precipitation {
    display: flex;
    gap: 10px;
}



.thirdDay__content {
    display: grid;
    width: 300px;
    font-family: reg-roboto, arial, sans-serif;
    background: #dee0e3;
    align-items: center;
    border-radius: 20px;
    height: 300px;
    justify-items: center;
}



.thirdDay__condition {
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thirdDay__precipitation {
    display: flex;
    gap: 10px;
}

.forecast-day {
    margin-bottom: 40px;
}

.secondDay {
    margin-bottom: 40px;
}

.thirdDay {
    margin-bottom: 40px;
    overflow-x: scroll;
}


.forecast-day__temperature {
    font-weight: bold;
    font-size: 20px;
}

.secondDay_temperature {
    font-weight: bold;
    font-size: 20px;
}

.thirdDay__temperature {
    font-weight: bold;
    font-size: 20px;
}

.forecast__title {
    font-size: 28px;
}